.UsersTable {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 22px;
}

input {
    margin: 5px;
}

.reminder-form {
    padding: 5px;
}

.btn, .delete-button {
    cursor: pointer;
}

.list-item {
    display: inline-block;
}

.delete-button {
    float: right;
    padding-left: 5px;
}

.form-select {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    height: 38px;
    margin: 5px;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.description {
    margin-left: 5px;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem .75rem;
    color: #495057;
}

select, input, textarea, button {
    outline: none;
}

.navbar .in .nav li {
    display: block;
    float: none;
    width:100%;
}