body {
    background: #fff;
}

.UsersTable {
    padding-top: 20px;
    margin-bottom: 100px;
    display: block;
    flex-direction: row;
    align-items: center;
}

.logout {
    background: #ccc;
    padding: 10px;
}

.title {
    font-size: 22px;
}

.copy {
    margin-top: 11px;
}

input {
    margin: 5px;
}

.reminder-form {
    padding: 5px;
}

.btn, .delete-button {
    cursor: pointer;
}

.list-item {
    display: inline-block;
}

.delete-button {
    float: right;
    padding-left: 5px;
}

.form-select {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    height: 38px;
    margin: 5px;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
}

.description {
    margin-left: 5px;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem .75rem;
    color: #495057;
}

select, input, textarea, button {
    outline: none;
}

.navbar .in .nav li {
    display: block;
    float: none;
    width:100%;
}

.container {
    background: #fff;
}

.logout-btn {
    background: transparent;
    border:none;
    text-decoration: underline;
}

.login-btn {
    margin-left: 5px;
}

.logout-btn:hover {
    text-decoration: none;
}

.header {

}

.header-title {
    background: #14CCB0;
}

.footer {
    border-top: 1px solid #ccc;
    font-size: 11px;
}

.main-title {
    padding-left: 20px;
    line-height: 0.3;
    padding-bottom: 10px;
}

.in-progress {
    background: #ff0000;
    color: #fff;
    display: inline-block;
    padding: 3px 5px;

}

.nav {
    background: #077F35;

}

.nav a {
    color: #fff;
}

.nav li a:hover {
    background: #0EFF6A!important;
    color: #000!important;
}
.nav-item:hover {

}

.footer .nav {
    background: #fff;
}

.footer .nav a {
     color: #000;
}

.footer .nav a:hover {
    background: #fff!important;
}